<section>
    <h2>Entre como participante</h2>
    <form action="/findroom" method="POST">
        <label class="hidden" for="room-id">c칩digo da sala</label>
        <input type="number" name="roomId" id="room-id" placeholder="C칩digo da sala">
        <button type="submit"><img src="/assets/log-in.svg"> Entrar na sala</button>
    </form>
</section>
<section class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</section>
<section>
    <h2>Crie sua pr칩pria sala de forma f치cil</h2>
    <a class="button" href="/create-room"><img src="/assets/users.svg">Criar sala</a>
</section>